*{
    padding: 0px;
    margin:0px;
    box-sizing: border-box;
}

.contenedor{
    background-color: aqua;
    border: 1px solid black;
    width: 90%;
    height: 30rem;
    margin: 3rem auto;
}

.elemento{
    background-color: chocolate;
    
}