*{
  padding: 0px;
  margin:0px;
  box-sizing: border-box;
}

html{
  font-size: 20px;
}
/* Para aplicar css grid se aplica en el padre */
.contenedor{
  margin: 1px;
  background-color: #0E2954;
  display: grid;
  /* grilla explicita */
  grid-template-columns: repeat(2, 1fr) repeat(2,2fr); /* repeat(cantidad,dimension) */ /* fraccion (fr) */
  grid-template-rows: 1fr repeat(2, 3fr) 5fr; 
  gap: 2rem .25rem;
}

.elemento{
  background-color: #84A7A1;
  text-align: center;
}