@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600;800&display=swap');

*{
    padding: 0px;
    margin:0px;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    color: #6c6c6c;
    font-size: 1.5em;
    font-weight: 300;
}

main{
    width: 1200px;
    margin: auto;
}

p{
    margin: 32px;
}

.relleno{
    font-size: 1.7em;
    font-weight: 600;
    color: #5C5995;
}

.primero,
.segundo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 32px 0;
}

.segundo{
    flex-direction: row;

}

.segundo div{
    width: 512px;
}

#webdev,#webdev2{
    opacity: 0;
    color: cornflowerblue;
    display: flex;
    align-items: center;
    justify-content: center;
}

#webdev h1,#webdev2 h1{
    width: 380px;
    font-weight: 600;
    font-size: 2.5em;   
    

    /*     animation-name: left-to-right;
    animation-duration: 2s; */
}

#guy,#guy2{
    opacity: 0;
    /* 
    animation-name: right-to-left;
    animation-duration: 2.5s; */
}

@keyframes left-to-right {
    from{
        opacity: 0.1;
        transform: translateX(-512px);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes right-to-left {
    from{
        opacity: 0.1;
        transform: translateX(512px);
    }
    to{
        opacity: 1;
        transform: translateX(0);   
    }
}